<section class="content-section visible-lg">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h2 class="site-footer__header">Company</h2>
            <ul class="link-list">
              <li><a>About Us</a></li>
              <li><a>Leadership Team</a></li>
              <li><a>Press & Media</a></li>
              <li><a>History of Best Western</a></li>
              <li><a>Careers</a></li>
              <li><a>Best Western for a Better World</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h2 class="site-footer__header">Discover</h2>
            <ul class="link-list">
              <li><a>Hotel Developers</a></li>
              <li><a>Travel Professionals</a></li>
              <li><a>Affiliate Program</a></li>
              <li><a>Privacy Policy</a></li>
              <li><a>Site Map</a></li>
              <li><a>Terms of Use</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h2 class="site-footer__header">Special Offers</h2>
            <p>Sign-up for special offers.</p>
            <div class="form-group">
              <input type="text" id="email" placeholder="Email Address" class="form-control"></input>
            </div>
            <button class="btn bw-btn-clear--blue">SIGN UP</button>
          </div>
          <div class="col-md-3">
            <h2 class="site-footer__header">Follow Us</h2>
              <ul class="social-list">
                <li><a class="social-list__icon -facebook" href=""></a></li>
                <li><a class="social-list__icon -twitter" href=""></a></li>
                <li><a class="social-list__icon -instagram" href=""></a></li>
                <li><a class="social-list__icon -google-plus" href=""></a></li>
                <li><a class="social-list__icon -pinterest" href=""></a></li>
                <li><a class="social-list__icon -youtube" href=""></a></li>
              </ul>
          </div>
        </div>
      </div>
    </section>
    <div class="content-section -copyright">
        <div class="content-container">
        <small class="copyright">
            Each Best Western<sup>®</sup> branded hotel is independently owned and operated. © 2002–2015 Best Western International, Inc. All rights reserved.
        </small>
        </div>
    </div>